
#main-img {
    background: url('/img/rentgear.png') no-repeat left bottom;
    height: 250px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    color: white;
    padding-left: 30px;
}

#main-img h1 {
    line-height: 250px;
}

#after-img {
    margin-top: 250px;
    position: relative;
}