#content {
    margin-top: 20px;
}

.fa-home {
	color: #ffffff;
}


/*Everything below is styling explicitly for message
*/

.ownerTop {
    display: block;
    color: red;
    margin-top: 55px;
}

.to {
    color: grey;
    font-size: 23px;
}

.row {
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 15px;
}

#request-to-rent {
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #98C037;
    color: white;
    line-height: 55px;
    font-size: 20px;
}

#request-to-rent:hover {
    color: white;
    text-decoration: none;
}

#fb-login {
    background: #4c69ba;
    background: linear-gradient(#4c69ba, #3b55a0);
    color: white;
    padding: 5px;
    border-color: #4c69ba;
    border-width: 2px;
    text-shadow: 0 -1px 0 #354c8c;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
    display: inline-block;
    width: 90%;
    text-align: left;
    vertical-align: middle;
}

#fb-modal .modal-content {
    text-align: center;
    padding: 10px;
}



