body, html {
    background: url('/img/tent-mountain.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;

    color: white;
}

#description {
    margin-top: 65px;
    margin-bottom: 50px;
}

.main-btn {
    height: 80px;
    line-height: 80px;
    background-color: rgba(255, 255, 255, 0.10);
    text-align: center;
    width: 100%;
    display: block;
}

#checkmark {
    width: 200px; 
    margin: 0 auto;
    display: block;
}

.main-btn a {
    color: white;
    font-size: 2em;
}

.fa-home {
	color: #ffffff;
}

#marginsSide {

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}