#fixed-img {
    background: url('/img/searchresults.png') no-repeat left center;
    height: 100px;
}

#filter-icon {
    width: 25px;

    margin: 6px;
    margin-top: -5px;
}



#content {
    margin-top: 110px;
}

.listing-box {
    display: block;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.10);
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    color: black;
    position: relative;
}

.price {
    font-size: 16px;
    padding: 10px;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    height: inherit;
}

.listing-box:hover {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.30);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.30);
    color: black;
    text-decoration: none;
}

.listing-box p {
    text-align: center;
}

#filter-container {
    background-color: rgb(255, 51, 102);
    z-index: 30;
    position: fixed;
    right: 30px;
    top: 75px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: white;
    padding-left: 7px;
    padding-top: 9px;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.6);
}

#filter-container {
    font-size: 30px;
}

#filter-overlay {
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    z-index: 200;
    border: 1px solid #DDDDDD;
    padding: 15px;
    text-align: center;
}

#filter-overlay h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

.date-box {
    text-align: center;
    background-color: rgb(80, 210, 194);
    padding: 3px 0;
    cursor: pointer;
    z-index: 1;
}


.dropdown {
    margin-top: 20px;
    font-size: 15px;
}


#filter-overlay input {
    z-index: 0;
    width: 1px;
    height: 1px;
    margin-top: -10px;
}

.fa-home {
	color: #ffffff;
}

#apply-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: deeppink;
    color: white;
    font-size: 24px;
    width: 100%;
}