body, html {
    background: url('/img/home.png') no-repeat right bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;

    color: white;
}

#logo {
    margin-top: 40px;
    display: block;
}


#choose-adventure {
    margin-bottom: 40px;
}

.main-btn {
    height: 100px;
    line-height: 100px;
    background-color: rgba(255, 255, 255, 0.10);
    text-align: center;
    width: 100%;
    display: block;
}
.main-btn a {
    color: white;
    font-size: 2em;
}

/*BELOW ARE CHANGES TO THIS PAGE (ABOVE IS EVERYTHING FROM INDEX CSS)
*/

.pull-left i {
    color: white;
    position: static;
}

#add-photos {
    text-align: center;
    font-size: 125%;
    line-height: 30px;
}

#photos-icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 40px;
}

#input-upload {
  display: none;
}

#upload {
    color: black;
}

.editProf {
    text-align: left;
    display: block;
    margin-top: 25px;
}

#inline {
    display: inline;
    font-size: 30px;
    margin-left: 50px;
}

#input-price {
    width: 250px;
    display: inline;
    height: 40px;
    margin-left: 15px;
}

.container {
  /*  margin-left: 40px;
    margin-right: 40px;*/
    margin-left: auto;
    margin-right: auto;
}

#block {
    display: block;
}

#about {
    margin-left: -15px;
}

#submit {
    margin-top: 75px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.margin-top {
    margin-top: 40px;
}

.greytext {
    color: lightgrey;
}

.placeholder {
    font-style: italic;
}

.margintop15 {
    margin-top: 15px;
}

div#top-bar {
    position: static;
}

.block {
    display: block;
}


