{{#extend "title"}}
    Edit Profile
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/view.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="fixed-img">
    <h1 class="text-center">{{name}}</h1>
</div>

<div class="container-fluid">
	<div class="profile-img">
		<img src="{{profile.picture}}" class="img-circle">
	</div>
</div>

<div class="container-fluid">
	<p><i class="fa fa-user" id="open-menu">Name</i></p>
    <p><i class="fa fa-envelope" id="open-menu">Email</i></p>
    <p><i class="fa fa-phone" id="open-menu">Phone</i></p>
    <p><i class="fa fa-user" id="open-menu">About</i></p>
</div>

{{#extend "js"}}
{{/extend}}