{{#extend "title"}}
    Something went wrong!
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/style.css"/>
{{/extend}}

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

{{#extend "js"}}
    <script>
        document.write('foo bar!');
    </script>
{{/extend}}
