{{#extend "title"}}
    SurfBoardBoard Home
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/index.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div class="container" id="choose-adventure">
    <div style="margin: 0 auto; width: 100px;">
        <img id="logo" style="height: 150px;"
             src="/img/logo_white.png">
    </div>

    <h3 class="text-center text-uppercase">Grizz</h3>
</div>

<div id="description">
    Grizz lets you find people with the gear you need and make money off your own gear whenever you're not using it.
</div>

<div class="main-btn">
    <a type="button" href="/find-gear/choose-type">
        Find Gear
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

<div class="main-btn">
    <a type="button" href="/list-gear/list-choose-type">
        Post Your Rental
        <i class="fa fa-chevron-right"></i>
    </a>
</div>



{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}
