{{#extend "title"}}
    SurfBoardBoard
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/index.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div class="container" id="choose-adventure">
    <div style="margin: 0 auto; width: 100px; height: 100px;">
        <img class="img-circle" style="width: 100px; height: 100px;"
             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0NClNvdXJjZSBVUkw6IGhvbGRlci5qcy8xNDB4MTQwDQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLg0KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tDQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbw0KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1Mjg0MDNlNjVlIHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUyODQwM2U2NWUiPjxyZWN0IHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iNDQuMDU0Njg3NSIgeT0iNzQuNSI+TG9nbzwvdGV4dD48L2c+PC9nPjwvc3ZnPg==">
    </div>

    <h3 class="text-center text-uppercase">Choose Your Adventure</h3>
</div>

<div class="main-btn">
    <a type="button" href="/list-gear/list-choose-type">
        Rent Out Your Gear
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

<div style="height: 30px;"></div>

<div class="main-btn">
    <a type="button" href="/find-gear/choose-type">
        Rent From Others
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}
