{{#extend "title"}}
    SurfBoardBoard Home
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/index.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div class="container" id="choose-adventure">
    <div style="margin: 0 auto; width: 100px;">
        <img id="logo" style="height: 150px;"
             src="/img/grizzLogoV1.png">
    </div>

    
</div>

<div class="main-btn">
    <a type="button" href="/find-gear/choose-type">
        Find Gear
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

<div style="height: 30px;"></div>

<div class="main-btn">
    <a type="button" href="/list-gear/list-choose-type">
        Post Your Rental
        <i class="fa fa-chevron-right"></i>
    </a>
</div>



{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}
