{{#extend "title"}}
    Profile
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/view.css">
{{/extend}}

<div class="container-fluid">

    <div class="profile-img">
            <img src="{{owner.picture}}" class="img-circle">
    </div>

    <div class="name">
            <h4>{{owner.name}}</h4>
            <p>{{general_location.profile}}</p>
    </div>
</div>

{{#extend "js"}}
    <script src="/js/view.js"></script>
{{/extend}}