{{#extend "title"}}
    SurfBoardBoard
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/signup.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div style="height: 210px;"></div>

<div class="container" id="facebook">
        <a href=""><img id="facebook"
             src="/img/facebook.png"></a>
</div>


<div style="height: 150px;"></div>

<div class="main-btn">
    <a type="button" href="/">
        Not Now
        <i class="fa fa-chevron-right"></i>
    </a>
</div>



{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}
