{{#extend "title"}}
    Register User
{{/extend}}

{{#extend "css"}}
{{/extend}}

<div class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
    </div>

    <button class="btn btn-default" id="btn">Start Testing</button>

    <div id="status"></div>
</div>


{{#extend "js"}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn').one('click', function (event) {
                $('#status').text('Please Wait...');

                var id = Math.floor(Math.random() * 10000000);
                mixpanel.identify(id);
                mixpanel.people.set({
                    '$name': $('#name').val()
                });

                setTimeout(function () {
                    window.location.href = '/';
                }, 5000);
            });
        });
    </script>
{{/extend}}