{{#extend "title"}}
    Viewing Tent
{{/extend}}

{{#extend "css"}}
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>

    <div class="pull-right">
        <i class="fa fa-search"></i>
    </div>
</div>

<div id="fixed-img">
    <h1 class="text-center">Tents</h1>
</div>

{{#extend "js"}}
    <script src="/js/results.js"></script>
{{/extend}}