body, html {
    background: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.15)
    ), url('/img/home.png') no-repeat right bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: white;
}

#description {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    text-align: center;
    color: #FFFFFF;
}

#logo {
    margin-top: 50px;
    display: block;
}


#choose-adventure {
    margin-bottom: 20px;
}

.main-btn {
    margin-top: 30px;
    height: 85px;
    line-height: 85px;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    width: 100%;
    display: block;
}

.main-btn a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.fa-chevron-right {
    margin-left: 10px;
    opacity: 0.8;
}