#view-img {
    height: 200px;
    text-align: center;
}

#view-img img {
    height: 100%;
    margin: 0 auto;
    width: auto;
}

#attributes {
    /*margin-top: 10px;*/
    
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}

.container-fluid {
    padding-bottom: 50px;
}

#dates {
    border-bottom: 1px solid #cccccc;
    text-align: center;
}

.dates-box {
    padding: 10px 0;
}

#left-dates {
    border-right: 1px solid #cccccc;
}

#info {
    border-bottom: 1px solid #cccccc;
}

#owner-info {
    border-bottom: 1px solid #cccccc;
    margin: 15px;
}


#owner-info img {
    width: 100px;
}

#request-to-rent {
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FF3366;
    color: white;
    line-height: 50px;
    font-size: 20px;
}

#request-to-rent:hover {
    color: white;
    text-decoration: none;
}

.fa-home {
	color: #ffffff;
}

.pickupReturn {
    margin-bottom: -7px;
    color: grey;
    margin-top: 0px;
}

.date {
    font-weight: bold;
    margin-bottom: -10px;

}

#product-name {
   margin-top: 15px;
   margin-bottom: 10px;
   margin-left: 15px;
   font-size: 30px;
   font-weight: bold;
   display: inline-block;
   text-align: left;

}

#price {
    color: #6FE840;
    display: inline-block;
    margin-right: 15px;
    font-size: 25px;
}

#per {
    color: #6FE840;
    font-size: 14px;
}
