{{#extend "title"}}
    List Gear - Choose Type
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/choose-type.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-arrow-left"></a></i>
    </div>
</div>

<div id="main-img">
    <h1>List Your Gear</h1>
</div>

<div id="after-img">
    <div class="link-list">
        <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Backpack</a>
        <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Tent</a>
        <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Stove</a>
        <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Kayak</a>
        <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Surfboard</a>
        <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Sleeping Bag</a>
    </div>
</div>


{{#extend "js"}}
{{/extend}}