{{#extend "title"}}
    List Gear - Choose Type
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/choose-type.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="main-img">
    <h1 id="header-select">Post Your Rental</h1>
    <h2 id="subtitle">Grizz lets you make money off your gear whenever you're not using it.</h2>
</div>

<div id="prompt">
        <h3 id="promptText">What gear do you own?</h3>
</div>

<div id="after-img">
<!--     <div><h3 id="prompt">What are you looking for?</h3></div> -->
    <div class="link-list">
        <a href="/list-gear/list-steps">Backpack</a>
        <a href="/list-gear/list-steps">Tent</a>
        <a href="/list-gear/list-steps">Stove</a>
        <a href="/list-gear/list-steps">Kayak</a>
        <a href="/list-gear/list-steps">Surfboard</a>
        <a href="/list-gear/list-steps">Sleeping Bag</a>
        <a href="/list-gear/list-steps">Sleeping Pad</a>
    </div>
    </div>
</div>


{{#extend "js"}}
{{/extend}}