{{#extend "title"}}
    List Gear - Choose Type
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/find-gear/choose-type.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <h3 class="navText">Post Your Rental</h3>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="prompt">
        <h3 id="promptText">What gear do you own?</h3>
</div>

<div id="after-img">

    <a href="/list-gear/list-steps/surfboard">
        <div class="item" id="surfboard">
            <p>surfboard</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/tent">
        <div class="item" id="tent">
            <p>tent</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/sleeping-bag">
        <div class="item" id="sleepingbag">
            <p>sleeping bag</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/sleeping-pad">
        <div class="item" id="sleepingpad">
            <p>sleeping pad</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/backpack">
        <div class="item" id="backpack">
            <p>backpack</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/bear-cannister">
        <div class="item" id="canister">
            <p>bear canister</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/camping-stove">
        <div class="item" id="stove">
            <p>stove</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/kayak">
        <div class="item" id="kayak">
            <p>kayak</p>
        </div>
    </a>
    <a href="/list-gear/list-steps/canoe">
        <div class="item" id="canoe">
            <p>canoe</p>
        </div>
    </a>

</div>


{{#extend "js"}}
{{/extend}}