{{#extend "title"}}
    List- Edit Description
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/list-edit.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div class="container" id="description">

    <h3 class="text-center text-uppercase">Edit Description</h3>
</div>

<textarea cols="60" rows="10"></textarea>

<div class="main-btn">
    <a type="button" href="/list-gear/list-edit-description">
        Submit
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}