{{#extend "title"}}
    List Gear - Steps to List
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/choose-type.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-arrow-left"></i>
    </div>

    <div class="pull-right">
        <i class="fa fa-search"></i>
    </div>
</div>

<div id="main-img">
    <h1>5 Steps to List</h1>
</div>

<div id="after-img">
    <ul class="list-unstyled" id="rent-gear">
        <li>
            <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Write Title</a>
        </li>
        <li>
            <a href="/list-gear/list-description"><i class="fa fa-circle-thin"></i> Write Summary</a></li>
        <li>
            <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Set Your Price</a>
        </li>
        <li>
            <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Set Pickup Address</a>
        </li>
        <li>
            <a href="/list-gear/list-message"><i class="fa fa-circle-thin"></i> Product Details</a>
        </li>
    </ul>
</div>


{{#extend "js"}}
{{/extend}}