{{#extend "title"}}
    SurfBoardBoard
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/message.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div class="container" id="description">

    <h3 class="text-center text-uppercase">A Great Description</h3>
    <br />
    <p class = "text-center">A great description highlights<br />some of the best features<br />and quality of your gear.</p>
</div>

<div class="main-btn">
    <a type="button" href="/list-gear/list-choose-type">
        Okay, got it
        <i class="fa fa-chevron-right"></i>
    </a>
</div>

{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}