{{#extend "title"}}
    List Gear - Steps to List
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/list-gear/list-steps.css">
{{/extend}}

<div id="top-bar-steps">
    <h2>5 steps to list</h2>
</div>

<div id="main-img">
    <img id="photos-icon" src="/img/CameraIcon.png">
    <h5 id="add-photos">
        <button id="upload">Add Photo</button>
        <input type="file" id="input-upload" accept="image/*;capture=camera"></h5>
</div>

<div id="after-img">
    <div class="link-list" id="steps">
        <a href="#">
            <img src="/img/unchecked-box.png" id="unchecked">
            <h3 id="StepHeader">Write Title</h3>
            <h4 id="StepSubtitle">Give your listing a descriptive headline</h4>
            <div class="dropper">
                <input type="text"/>
            </div>
        </a>
        <a href="#">
            <img src="/img/unchecked-box.png" id="unchecked">
            <h3 id="StepHeader">Write Description</h3>
            <h4 id="StepSubtitle">Describe your listing's characteristics</h4>
            <div class="dropper">
                <textarea cols="20" rows="5"></textarea>
            </div>
        </a>
        <a href="#">
            <img src="/img/unchecked-box.png" id="unchecked">
            <h3 id="StepHeader">Set Price</h3>
            <h4 id="StepSubtitle">It's time to make money off that thing!</h4>
            <div class="dropper">
                <p id="inline">$</p> <input id="input-price" type="text"/>
                <p id="inline">per day</p>
            </div>
        </a>
        <a href="#">
            <img src="/img/unchecked-box.png" id="unchecked">
            <h3 id="StepHeader">Set Pickup Address</h3>
            <h4 id="StepSubtitle">Where will people pick it up from you?</h4>
            <div class="dropper">
                <input id="input" type="text" id="input"/>
            </div>

        </a>
        <a href="#">
            <img src="/img/unchecked-box.png" id="unchecked">
            <h3 id="StepHeader">Product Details</h3>
            <h4 id="StepSubtitle">Specify Important Details</h4>
            <div class="dropper">
                <h4 id="input">How many people can your tent hold?</h4> <input id="input-price"
                                                                               type="text"/><h4
                    id="inline">persons</h4>
            </div>
        </a>
    </div>
</div>

<a id="request-to-rent" href="/">
    Post Listing
</a>


{{#extend "js"}}
    <script src="/js/list-steps.js"></script>
{{/extend}}