
#main-img {
    background: url('/img/rentgear.png') no-repeat left bottom;
    height: 250px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    color: white;
    padding-left: 30px;
}

#main-img h1 {
    line-height: 250px;
}

#after-img {
    margin-top: 250px;
    position: relative;
}

#rent-gear {
}

#rent-gear li {
    padding: 20px;
    border-bottom: 1px solid #aaaaaa;
    font-size: 2em;
    vertical-align: middle;
}

#rent-gear li a {
    color: black;
}

#rent-gear li a i {
    margin-right: 10px;
}

#rent-gear li a:hover {
    text-decoration: none;;
}

#rent-gear li:hover {
    background: #dbdbdb;
    cursor: pointer;
}

#top-bar a {
	color: #FFFFFF
}