
#main-img {
      background: url('/img/coleman.jpg');
    width: 100px;
    height: 200px;
    background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
    /*background: url('/img/rentgear.png') no-repeat left bottom ; */
    height: 300px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    color: white;
    padding-left: 30px;
    position: relative;
    padding-top: 20px;
}

#main-img h1 {
    line-height: 250px;
}

#after-img {
    margin-top: 0px;
    position: relative;
}


#unchecked {
    float: right;
    width: 40px;
    margin-top: 20px;
}

#StepSubtitle {
    display: block;
    color: grey;
    margin-top: -7px;
}

#StepHeader {
    display: block;
}

#steps-bar {
    width: 100%;
    height: 40px;
    background-color: white;
}

#top-bar-steps {
    padding: 5px;
    font-size: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    color: black;
    background-color: #EFEFEF;
    text-align: center;
    font-size: 100%;
}

#back-arrow {
    float: left;
}

#add-photos {
    text-align: center;
    font-size: 125%;
    line-height: 30px;
}

#photos-icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 100px;
}

#input-upload {
  display: none;
}

#upload {
    color: black;
}

.dropper {
    display: none;
    padding: 20px;
}

#input {
    width: 100%;
    color: grey;
}

#input-price {
    width: 75px;
    display: inline;
}

#inline {
    display: inline;
    color: grey;
}

#request-to-rent {
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    background-color: #d43f3a;
    color: white;
    line-height: 50px;
    font-size: 20px;
}

#request-to-rent:hover {
    color: white;
    text-decoration: none;
}
