#main-img {
    background: url('/img/coleman.jpg');
    width: 100px;
    height: 200px;
    background-position: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    /*background: url('/img/rentgear.png') no-repeat left bottom ; */
    height: 250px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    color: white;
    padding-left: 30px;
    position: relative;
    padding-top: 20px;
}

#main-img h1 {
    line-height: 250px;
}

#after-img {
    margin-top: 0px;
    position: relative;
    padding-bottom: 50px;
}

.square-right i {
    font-size: 50px;
    margin-top: 20px;
    color: #979797;
}

.step-subtitle {
    display: block;
    color: grey;
    margin-top: -7px;
}

.step-header {
    display: block;
}

#top-bar-steps {
    background: url('/img/searchresults.png') no-repeat left center;
    height: 60px;
    padding: 5px;
    font-size: 24px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    color: white;
    background-color: #EFEFEF;
    text-align: center;
    font-size: 100%;
}

.fa-home {
    color: white;
}

#back-arrow {
    float: left;
}

#add-photos {
    text-align: center;
    font-size: 125%;
    line-height: 30px;
}

#photos-icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 40px;
}

#input-upload {
    display: none;
}

#upload {
    color: black;
}

.dropper {
    display: none;
    padding: 20px;
}

#input {
    width: 100%;
    color: grey;
}

#input-price {
    width: 75px;
    display: inline;
}

#inline {
    display: inline;
    color: grey;
}

#request-to-rent {
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #d43f3a;
    color: white;
    line-height: 50px;
    font-size: 20px;
    display: none;
}

#request-to-rent:hover {
    color: white;
    text-decoration: none;
}

.fa-square-o {
    display: none;
}

#input-desc {
    font-size: 20px;
}

#top-bar {
    position: static;
}

.steps-head {
    z-index: 52;
    position: relative;
    margin-top: -50px;
}
