{{#extend "title"}}
    Rent Gear - Choose Type
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/find-gear/choose-type.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-arrow-left"></i>
    </div>

    <div class="pull-right">
        <i class="fa fa-search"></i>
    </div>
</div>

<div id="main-img">
    <h1>Rent Gear</h1>
</div>

<div id="after-img">
    <div class="link-list">
        <a href="/find-gear/prelim-filter"><i class="fa fa-circle-thin"></i> Backpack</a>
        <a href="/find-gear/prelim-filter"><i class="fa fa-circle-thin"></i> Tent</a>
        <a href="/find-gear/prelim-filter"><i class="fa fa-circle-thin"></i> Stove</a>
        <a href="/find-gear/prelim-filter"><i class="fa fa-circle-thin"></i> Kayak</a>
        <a href="/find-gear/prelim-filter"><i class="fa fa-circle-thin"></i> Surfboard</a>
        <a href="/find-gear/prelim-filter"><i class="fa fa-circle-thin"></i> Sleeping Bag</a>
    </div>
</div>


{{#extend "js"}}
{{/extend}}
