{{#extend "title"}}
    Rent Gear - Results
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/find-gear/message.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <a href="/"><i class="fa fa-home"></a></i>
    </div>
    <h3 class="navText">Contact Owner</h3>
    <div class="pull-right">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<form action="/find-gear/message/{{item.id}}" method="post">
    <div class="container" id="content">
        <div class="row">
            <h5 class="ownerTop to">To: <strong>{{owner.facebook.name}}</strong></h5>
        </div>

        <div class="row">
            <h5 class="owner to">Subject: <strong>Request for {{item.title}}</strong></h5>
        </div>

        <div><h5 class="owner to">Message:</h5></div>

        <div>
        <textarea class="form-control placeholder margintop15" rows="8" name="message"
                  placeholder="Eg: Hi, my name's Sally the bear. I was hoping to borrow your surfboard from December XX to December XX so I can go surfing with my friends in Del Mar. I'm a pretty swell bear and I'll take good care of it. Hope to hear from you soon!"></textarea>
        </div>
    </div>

    <button id="request-to-rent">
        Send
    </button>
</form>

<div class="modal" tabindex="-1" role="dialog" id="fb-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h4>You must login to continue</h4>
            <a href="/login/edit" target="_blank" class="button" id="fb-login"><i
                    class="fa fa-facebook-official"></i> Login with
                Facebook to continue
            </a>
        </div>
    </div>
</div>

{{#extend "js"}}
    <script>
        var loggedIn = false;
            {{#if user}}
            loggedIn = true;
            {{/if}}

        $(document).ready(function () {
            $('#fb-login').on('click', function (event) {
                $(window).on('focus', function () {
                    $.get('/api/is-logged-in', function (data) {
                        if (data.loggedIn && data.loggedIn === true) {
                            $form.submit();
                        }
                    });
                });
            });

            $('#request-to-rent').on('click', function () {
                if (loggedIn) {
                    $('form').submit();
                } else {
                    $('#fb-modal').modal('show');
                }
            });
        });
    </script>
{{/extend}}