{{#extend "title"}}
    Rent Gear - Results
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/find-gear/payment.css">
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div id="fixed-img">
    <h1 class="text-center">Payment</h1>
</div>

<div style="height: 90px;"></div>

<div class="container" id="product-detail">
    <h3>Gorgeous Tent</h3>
    <h5>2 person <i class="fa fa-circle"></i> Marmot</h5>
    <p>Tioga Hall, John Muir College<br />9500 Gilman Drive #0083<br />La Jolla, CA 92093-0083</p>
</div>

<div class="container" id="dates">
    <h3>Rental Dates</h3>
    <!--Shows the dates user picked out from calendar -->
</div>

<div class="container" id="price">
    <h3>Price</h3>
    <p>Rental Fee</p>
    <p>Cleaning Fee</p>
    <h4>Total</h4>
</div>

<div class="text-center" id="price">
    <a class="btn btn-primary btn-lg" href="#" role="button">Pay with Venmo</a>
</div>

<div class="venmo">
    
</div>

<div class="request-btn">
        <a href="/find-gear/results">Request to Rent</a>
</div>

{{#extend "js"}}
    <script src="/js/results.js"></script>
{{/extend}}