{{#extend "title"}}
    SurfBoardBoard
{{/extend}}

{{#extend "css"}}
    <link rel="stylesheet" href="/css/find-gear/prelim-filter.css"/>
{{/extend}}

<div class="container-fluid" id="top-bar">
    <div class="pull-left">
        <i class="fa fa-bars" id="open-menu"></i>
    </div>
</div>

<div style="height: 80px;"></div>

<!--Still need to link to Calendar system
-->

<div class="text-center">
        <a class="btn btn-primary" href="#" role="button">Check In</a>
        <a class="btn btn-primary" href="#" role="button">Check Out</a>
</div>

<div style="height: 40px;"></div>

<!--Still need to link to up and down arrows
-->

<div class="main-btn">
        Number of People
</div>

<div class="search-btn">
        <a href="/find-gear/results">Search</a>
</div>

{{#extend "js"}}
    <script src="/js/main.js"></script>
{{/extend}}
